.App{
  text-align: center;
}


.alignment{
  background-color: aquamarine;
  height: 100px;
  width:200px;
  padding: 50px;
  margin: auto;
  margin-top: 90px;
}

.text-size{
  font-size: 30px;
  text-decoration: none;
  color: black;
}
